.prg_1 {
    text-align: center;
    color: red;
    font-size: 100%;
    background-color: aqua;
  }
  
  p.prg_2 {
    text-align: center;
    color: green;
    font-size: 200%;
    background-color: pink; 
  }

  p.prg_3 {
    text-align: center;
    color: darkblue;
    font-size: 300%; 
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-decoration: black;
    text-decoration-line: underline;
    background-color: blanchedalmond;
    
  }
  
  h1.prg_3 {
    text-align: center;
    color: #000f08;
    font-size: 300%; 
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration:#0d0221;
    text-decoration-line: underline;
    text-decoration-skip: 20;
    background-color: #5c0029;
    background-size: 150%;
  }

  h2.prg_4 {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 500%;
    text-decoration: rgb(47, 102, 139);
    text-decoration-line: underline;
  }

  h2.prg_3 {
    text-align: center;
    color: rgb(50, 205, 166);
    background-color: maroon;
    background-size: 150%;
  }
  
  input.prg_1 {
    color: black;
    text-shadow: black;
  }

  #left {
    text-align: left;
  
  }

  #right {
    text-align: justify;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
